{% extends 'base.html.twig' %}

{% block title %} Children Books {% endblock %}

{% block body %}
    <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>The Book Store!</strong> is a Test Application implemented for 99x Technology by Nuwan Wiyanage.
    </div>
{% endblock %}