<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
        <li {% if route_name == "home" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li {% if route_name == "cildrenBooks" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="/children/books">Children Books</a>
        </li>
        <li {% if route_name == "fictionBooks" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="/fiction/books">Fiction Books</a>
        </li>
        <li {% if route_name == "aboutUs" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="/aboutUs">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Publish Books</a>
            <div class="dropdown-menu" style="">
                <a class="dropdown-item" href="/books/publish/children-books">Children Books</a>
                <a class="dropdown-item" href="/books/publish/fiction-books">Fiction Books</a>
            </div>
        </li>
        <li {% if route_name == "cart" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="/books/cart">
                <i class="fas fa-cart-arrow-down"></i>
                <span class="badge">${{ not app.session.get('totalPrice') ? "0" : app.session.get('totalPrice') }}</span>
            </a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </div>
</nav>